@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300italic);
body{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding:0;
  margin:0;
}
.looper{
  background-color: #DDD;
  display:inline-block;
  margin:2px;
  padding:2px;
  opacity:0.5;
}
.looper.playing{
  opacity: 1 !important;
}
.looper.waiting{
  opacity:0;
  animation: blink-animation 0.3s steps(2, start) infinite;
  -webkit-animation: blink-animation 0.3s steps(2, start) infinite;
}
@keyframes blink-animation {
  to {
    opacity:1;
  }
}
@-webkit-keyframes blink-animation {
  to {
    opacity:1
  }
}

.looper.unavailable {
  pointer-events: none;
  opacity: 0!important;
}
.looper.inst-bass {
    background-color: #25d8ff;
}

.looper.sub-hi{
  opacity: 0.5;
}
.looper.sub-lo{}
.looper.inst-organ {
    background-color: #973fd4;
}
.looper.inst-djembe{
  background-color: #f8f3d1;
}
.looper.inst-hey{
  background-color: #cb1c1c;
}
.looper.inst-kick{}
.looper.inst-shaker {
    background-color: #F6F6F6;
}